*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font-family: helvetica;
}

p{
    font-size: 12px;
}

:root{
    --bnd-primary: #ff6900;
    --bnd-discount: #ff0000;
    --bnd-sustainability: #008000;
    --bdn-dark: #1a1a1a;
}

header{
    background-color: var(--bnd-primary);
    color: white;
    margin-bottom: 2rem;
}


.debug .shop{
    height: 500px;
   
}



.d-flex{
    display: flex;
}
.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.align-center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.type, .account{
    width: 20%;
    height: 61px;
    gap: 10px;
}

.account{
    justify-content: flex-end;
}

.logo{
    width: 80%;
    height: 61px;
}

.logo img{
    width: 110px
}

.shop{
    height: 500px;
    margin-bottom: 9rem;
   
}
.col{
    width: 100%;
    
}
.card{
    width: 100%;
    margin: 5px;
    position: relative;
    min-height: 400px;
}

.card img{
    width: 100%;
}

.elements{
 
}

.like{
    background-color: white;
    width: 50px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    font-size: 26px;
    padding-left: 10px;
    position: absolute;
    right: 0;
    top: 10px;
}

.discount, .sustainability{
    height: 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    bottom: 120px;
}

.discount{
    background-color: var(--bnd-discount);
    width: 40px;
    left: 0;
    color: white;
}

.sustainability{
    background-color: var(--bnd-sustainability);
    width: auto;
    padding: 3px;
    left: 45px;
}

.description{
    text-align: left;
}

.price, .underlined{
    display: inline-block;
}

.price{
    color: var(--bnd-discount);
}

.underlined{
    text-decoration: line-through;
    
}

#left{
    left: 0;
}

.second{
    display: none;
}

.card:hover .first{
    display: none;
}

.card:hover .second{
    display: block;
}

.card:hover{
    cursor: pointer;
}

footer{
    background-color: var(--bdn-dark);
    height: 100px;
    color: white;
}

.last{
    padding-top: 2rem;
    justify-content: space-between;
    
}

footer h4, h5{
    padding-bottom: .6rem;
}

footer a{
    font-size: 12px;
    padding-right: 1rem;

}

footer i{
    padding-right: .2rem;
}