*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font-family: helvetica;
}

:root{
    --bnd-primary: #ff6900;
    --bnd-discount: #ff0000;
    --bnd-sustainability: #008000;
    --bdn-dark: #1a1a1a;
}

header{
    background-color: var(--bnd-primary);
    color: white;
    margin-bottom: 2rem;
}


.debug .shop{
    height: 500px;
   
}



.d-flex{
    display: flex;
}
.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.align-center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.type, .account{
    width: 20%;
    height: 61px;
    gap: 10px;
}

.account{
    justify-content: flex-end;
}

.logo{
    width: 80%;
    height: 61px;
}

.logo img{
    width: 110px
}

.shop{
    height: 400px;
}
.col{
    width: 100%;
}
.card{
    width: 100%;
    margin: 5px;
    position: relative;
}

.card img{
    width: 100%;
}

.elements{
 
}

.like{
    background-color: white;
    width: 50px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    font-size: 26px;
    padding-left: 10px;
    position: absolute;
    left: 88%;
    bottom: 88%;
}

.discount{}